extends ./_layout

mixin selectionList(caption, fieldName, items)
	fieldset
		legend= caption
		ul
			each item in items
				li
					label
						input(type="checkbox" name=fieldName value=item checked)
						| #{item}

block content
	form(action="" method="get")
		+selectionList("Factions", "faction", store.factions)
		+selectionList("Categories", "category", store.categories)

		button(type="submit") apply filters

	ul
		each card in cards
			li
				img(src=card)
